

/* .mapboxgl-canvas {
    position: fixed !important;
    height: 100% !important;
} */

.mapContainer {
    /* position: absolute; */
    display: inline-block;
    height: 200px;
    width: 200px;
    /* top: 0;
    right: 0;
    left: 0;
    bottom: 0; */
    }



.searchBox {
    display: flex;
}