

/* .mapboxgl-canvas {
    position: fixed !important;
    height: 100% !important;
} */

.mapContainer {
    /* position: absolute; */
    display: inline-block;
    height: 500px;
    width: 500px;
    /* top: 0;
    right: 0;
    left: 0;
    bottom: 0; */
    }