/* body{
    background: #B4C6CE;
} */

.farmBio{
    display: flex;
    /* margin-top: 15px; */
    /* background-color: #E5E5E5; */
    width: 100%;
    margin: auto;
    /* margin-bottom: 5px; */
    /* background: url(./row-crop-field.jpg); */
    /* background-size: contain; */
}
.bioIcon{
    max-height: 150px;
    margin-left: 80px;
    margin-right: 30px;
}
.bioName{
    margin-top: 5px;
    margin-right: 60px;
}
.bioButton{
    margin: 30px;
    margin-left: 40px;
}
.centerButton{
    text-align: center;
}
.bioImage{
    /* display: inline; */
    max-height: 400px;
    /* width: 100%; */
    display: block;
    margin: auto;
    /* width: 1000px; */
    padding: 6px;
}

img {
    max-width: 1000px;
}

.farmBio:hover{
    transition: ease-out .3s;
    /* background-color: #fafafae8; */
}
#bioSmall{
    font-size: smaller;
}
/* .bioWidth{ */
    /* float: center; */
    /* width: fit-content; */
/* } */

/* .farmBioSize{
    
} */

.farmDetails{
    /* display: flex;  */
    /* justify-content: space-between;  */
    margin-top: 5px;
    /* background-color: #E5E5E5; */
    width: 90%;
    margin: auto;
    /* margin-bottom: 5px; */
}
.farmDetails:hover{
    transition: ease-out .3s;
    /* background-color: #fafafae8; */
}
.farmDetailsHeader{
   display: contents;
}
.farmDetailItem{
    display: flex;
    justify-content: start;
    
}
.farmDetailItem div{
   width: 42%;
    
}
.farmJobsAvailable{
    /* margin-top: 5px; */
    /* background-color: #E5E5E5; */
    width: 90%;
    margin: auto;
    /* margin-bottom: 5px; */
    /* text-align: left; */
    text-align: center;
}
.farmJobsAvailable:hover{
    transition: ease-out .3s;
    /* background-color: #fafafae8; */
}

.farmJobItem {
list-style-type: none;
margin-bottom: 10px;
}

.jobModal{
    width: 700px;
    height: 70%;
    margin: auto;
    background: white;
    /* text-align: center; */
}
.modalStartDate {
margin-left: 20px;
}