/* body{
    background: #B4C6CE;
} */

.farmBio{
    display: flex;
    margin-top: 5px;
    background-color: #E5E5E5;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

.farmBio:hover{
    transition: ease-out .3s;
    background-color: #fafafae8;
}

.farmBioSize{
    width: 60%;
    margin-left: 10%;
}

.farmDetails{
    /* display: flex;
    justify-content: space-between; */
    margin-top: 5px;
    background-color: #E5E5E5;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
.farmDetails:hover{
    transition: ease-out .3s;
    background-color: #fafafae8;
}
.farmDetailsHeader{
   display: contents;
}
.farmDetailItem{
    display: flex;
    justify-content: start;
    
}
.farmDetailItem div{
   width: 42%;
    
}
.farmJobsAvailable{
    margin-top: 5px;
    background-color: #E5E5E5;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    text-align: left;
}
.farmJobsAvailable:hover{
    transition: ease-out .3s;
    background-color: #fafafae8;
}

.farmJobItem li{
list-style-type: none;
margin-bottom: 10px;
<<<<<<< HEAD
=======
}

.jobModal{
    width: 700px;
    height: 70%;
    margin: auto;
    background: white;
    /* text-align: center; */
}
.modalStartDate span{
margin-left: 20px;
>>>>>>> 082b1a6b0f92fb43377887b192f0c63c191c78f4
}