.footer {
    color: #419B2A;
    background: rgb(7, 31, 0);
    padding: 20px;
   
    bottom: 0;
    text-align: center;
}

/* .footer {
    color: #419B2A;
    background: rgb(7, 31, 0);
    padding: 20px;
    float: initial;
    bottom: 0;
    text-align: center;
} */
