.footer {
    color: #419B2A;
    background: rgb(7, 31, 0);
    /* padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    text-align: center; */
    /* position: sticky; */
    
    /* position: ; */
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

