.footer {
    color: #419B2A;
    background: rgb(7, 31, 0);
    padding: 20px;
    /* margin-bottom: 0px; */
    text-align: center;
    /* position: sticky; */
    /* flex-shrink: 0; */
   margin-top: 20vh;
    width: 100%;
    height: 2.5rem;
    /* padding-top: 10vh; */
}

