.talentAbout{
    display: flex;
    justify-content: start;
    background-color: #E5E5E5;
    width: 70%;
    margin:  auto;
    margin-top: 15px;
    margin-bottom: 10px;
}
.talentAbout div{
    width: 50%;
}
.aboutEdit{
    display: flex;
    justify-content: flex-end;
    height: 20px;
    
}
.experienceHeader{
    display: block;
    text-align: start;
    margin: 0;
}
.talentExperienceSection{
    background-color: #E5E5E5;
    /* margin-top: 5px; */
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.talentExperienceSection hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.talentExpHeader{
    display: flex;
    justify-content: space-between;
    
}
.talentExperience{
    display: flex;
    justify-content: space-between;
    /* background-color: #E5E5E5; */
}
.certsHeader{
    display: flex;
    justify-content: space-between;
}
.talentCertificationSection{
    background-color: #E5E5E5;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
.talentExperienceSection hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.talentEquipmentSection hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.talentCertificationSection h3{
    margin-bottom: 0px;
}
.talentCert{
   
    margin-right: 15%;
}
.talentCertification{
    display: flex;
    justify-content: start;
    
}
.educationHeader{
    display: flex;
    justify-content: space-between;
}
.talentEducation{
    /* display: flex; */
    background-color: #E5E5E5;
    margin-bottom: 10px;
    width: 70%;
    margin: auto;
    
}
.talentEducation hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
/* .TalentEquipmentItem{
    margin-left: 20px;
} */
.talentEquipmentSection{
    background-color: #E5E5E5;
    /* margin-top: 5px; */
    width: 70%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.talentEquipment{
    display: flex;
    margin-top: 0;
    
}
.talentEquipment h3{
    margin: 0;
}
.equipmentHeader{
    display: flex;
    justify-content: space-between;
}
.talentEmploymentItem div{
   display: flex;
   justify-content: space-evenly;
}
.employmentHeader{
    display: flex;
    justify-content: space-between;
}
.employmentSection{
    background-color: #E5E5E5;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
.employmentSection hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.talentEmployment{
    display: flex;
    /* margin-top: 5px; */
    
}