.talentAbout{
    display: flex;
    justify-content: space-around;
    background-color: #E5E5E5;
    width: 70%;
    margin:  auto;
    margin-top: 15px;
    margin-bottom: 10px;
}
.experienceHeader{
    display: block;
    text-align: start;
    margin: 0;
}
.talentExperienceSection{
    background-color: #E5E5E5;
    /* margin-top: 5px; */
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
.talentExperience{
    display: flex;
    justify-content: space-between;
    /* background-color: #E5E5E5; */
}

.talentCertificationSection{
    background-color: #E5E5E5;
    width: 70%;
    margin: auto;
}
.talentCert{
    padding-bottom: 0;;
    margin-right: 15%;
}
.talentCertification{
    display: flex;
    justify-content: start;
    
}
.talentEducation{
    /* display: flex; */
    background-color: #E5E5E5;
    margin-bottom: 10px;
    width: 70%;
    margin: auto;
    
}
/* .TalentEquipmentItem{
    margin-left: 20px;
} */
.talentEquipmentSection{
    background-color: #E5E5E5;
    /* margin-top: 5px; */
    width: 70%;
    /* margin-bottom: 0; */
    margin-left: auto;
    margin-right: auto;
}
.talentEquipment{
    display: flex;
    margin-top: 0;
    
}
.talentEquipment h3{
    margin: 0;
}
.talentEmploymentItem span{
    margin-right: 10px;
}

.talentEmployment{
    display: flex;
    margin-top: 5px;
    background-color: #E5E5E5;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}