.talentAbout{
    margin:  auto;
    margin-top: 15px;
    margin-bottom: 15px; 
}

.talentAbout div{
    padding-right: 20px;
    display: flex;
    line-height: 0em;
} 

.talentAboutName{
    margin-top: 0px;
    margin-bottom: 0px;
}

.aboutEdit{
    height: 20px;
}

.avatarImg{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: 10px;
}

.experienceHeader{
    display: block;
    text-align: start;
    margin: 0;
}

.headerColor{
    color: #6B818C;
}

.talentExperienceSection{
    /* background-color: #E5E5E5; */
    /* margin-top: 5px; */
    /* width: 70%; */
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
}

.talentExperienceSection hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.talentExpHeader{
    display: flex;
    justify-content: space-between;
}

.talentExperience{
    display: flex;
    justify-content: space-between;
    /* background-color: #E5E5E5; */
}

.certsHeader{
    display: flex;
    justify-content: space-between;
}

.talentCertificationSection{
    /* background-color: #E5E5E5; */
    /* width: 70%; */
    margin: auto;
    margin-bottom: 15px;
}

.talentExperienceSection hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.talentEquipmentSection hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.talentCertificationSection h3{
    margin-bottom: 0px;
    color: #6B818C;
}

.talentEmploymentItem div{
    width: 33%;
}

.talentCert{
    margin-right: 15%;
}

.talentCertification{
    display: flex;
    justify-content: start;
}

.educationHeader{
    display: flex;
    justify-content: space-between;
}

.talentEducation{
    margin-bottom: 15px;
    margin: auto;
}

.talentEducation hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.talentEquipmentSection{
    margin-bottom: 15px;
}

.talentEquipmentItem div{
   width: 100%;
   margin-right: 50px;    
}

.talentEquipment{
    display: flex;
    margin-top: 0;
}

.talentEquipment h3{
    margin: 0;
}

.equipmentHeader{
    display: flex;
    justify-content: space-between;
}

.talentEmploymentItem div{
   display: flex;
   justify-content: space-evenly;
}

.talentEmploymentItem span{
    margin-right: 10px;
}

.talentEmploymentItem p{
    margin-top: 0;
}

.employmentHeader{
    display: flex;
    justify-content: space-between;
}

.employmentSection{
    margin: auto;
    margin-top: 15px;
}

.employmentSection hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.talentEmployment{
    display: flex;
}
