.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #419B2A;
    padding-left: 10px;
    background-image: './Agriknect_logo.png';
}
#navLogo{
  max-width: 300px;
  padding: 12px;
}

.nav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.803);
}

.nav-link {
  float: left;
  color: #E5E5E5;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #5da44b;
  border-radius: 14px 14px 14px 14px;
  transition: all 0.5s ease-out;
}

.nav-right {
  float: right;
}